$button-color: #ec5990;
$font-size: 12px;
$letter-spacing: none;

.buttonStyle {
  background: $button-color;
  color: black;
  text-transform: uppercase;
  border: none;
  margin: auto 25px;
  padding: 5px;
  font-size: $font-size !important;
  letter-spacing: $letter-spacing !important;
  font-weight: 200;
  border-radius: 5px !important;
  background-color: transparent;
}
