$homeColor: color #000;

.homeColor {
  color: $homeColor;
}

.linkGroup {
  display: flex;
  justify-items: center !important;
  align-items: center !important;
  margin: auto 25px;
  font: 30px;
}

.navbar-expand-sm {
  /* space-evenly */
  /* justify-content: space-between !important; */
  justify-content: flex-end !important;
  align-items: center;
}

.brandlogo {
  margin-left: 60px !important;
  width: auto;
  background-color : transparent;
  height: 40px;
}

.narbar{
  padding: 0 !important;
}

.unionNotisAuthButtons > div {
  display: flex !important;
  flex-direction: row !important;
  margin: 0px 5px !important;
  color: white;
  background-color: #ec5990;
  width: 100px;
  height: 30px;
  font-weight: bold;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  padding-top: 3px;
  transition: 0.1s;
}

.unionNotisAuthButtons > div:hover {
  text-decoration: underline !important;
  letter-spacing: 1px;
  // color: black;
}

.unionisAuthButtons {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-end !important;
  justify-items: flex-end !important;
}

.unionisAuthButtons > div {
  display: flex;
  justify-items: flex-end;
}

// .sidenav---sidenav-nav---3tvij
//   > .sidenav---sidenav-navitem---uwIJ-
//   > .sidenav---navitem---9uL5T
//   .sidenav---navicon---3gCRo,
// .sidenav---sidenav-nav---3tvij
//   > .sidenav---sidenav-navitem---uwIJ-
//   > .sidenav---navitem---9uL5T
//   .sidenav---navtext---1AE_f {
//   color: crimson !important;
// }

.sidenav---sidenav---_2tBP *,
.sidenav---sidenav---_2tBP *:before,
.sidenav---sidenav---_2tBP *:after {
  fill: crimson !important;
  // color: white !important;
  opacity: transparent !important;
}

.ant-divider-horizontal {
  display: none !important;
  clear: both;
  width: auto;
  // min-width: 100%;
  margin: 0 !important;
}
