.homeColor {
  color: color #000;
}

.linkGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin: auto 25px;
  font: 30px;
}

.navbar-expand-sm {
  /* space-evenly */
  /* justify-content: space-between !important; */
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brandlogo {
  margin-left: 60px !important;
}

.unionNotisAuthButtons > div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  margin: 5px 15px !important;
}

.unionisAuthButtons {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
  justify-items: flex-end !important;
}

.unionisAuthButtons > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
}

.sidenav---sidenav---_2tBP *,
.sidenav---sidenav---_2tBP *:before,
.sidenav---sidenav---_2tBP *:after {
  fill: crimson !important;
  opacity: transparent !important;
}

.ant-divider-horizontal {
  display: none !important;
  clear: both;
  width: auto;
  margin: 0 !important;
}
/*# sourceMappingURL=NavBar.css.map */