a.active {
  font-weight: bold;
}

/* .bg-img {
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
  } */
.sidenav {
  position: fixed !important;
}

.sidenav---navitem---9uL5T,
.sidenav---_u0En {
  background: none !important;
}

/* .sidenav---sidenav-subnav---1EN61
  > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y
  > .sidenav---navitem---9uL5T {
  color: cornsilk !important;
  font-weight: bold;
  background: none;
  cursor: default;
} */
.sidenav---sidenav-subnav---1EN61
> .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y
> .sidenav---navitem---9uL5T {
  /* color: #db3d44; */
  color: #000 !important;
  font-weight: 300 !important;
  background: none;
  cursor: default;
}

.sidenav---sidenav-subnav---1EN61
> .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y
> .sidenav---navitem---9uL5T:hover {
  text-decoration: underline;
}

.sidenav---sidenav-subnav---1EN61
> .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y
> .sidenav---navitem---9uL5T:focus {
  outline: none !important;
  /* -webkit-focus-ring-color auto 1px; */
  outline-color: transparent !important;
  /* -webkit-focus-ring-color; */
  outline-style: none;
  outline-width: webkit-focus-ring-color auto 1px;
}

/* .sidenav---sidenav-subnav---1EN61
  > .sidenav---sidenav-subnavitem---1cD47.sidenav---selected---1EK3y
  > .sidenav---navitem---9uL5T:focus { */
/* outline: -webkit-focus-ring-color none !important; */
/* outline: none !important; */
/* } */
.addMargin {
  margin-top: 10px;
}

.sidenav---sidenav---_2tBP {
  fill: mediumspringgreen !important;
  background: rgba(0, 0, 0, 0.7) !important;
  position: absolute;
  top: 0;
  bottom: 0px;
  height: -webkit-fill-available !important;
  z-index: 1000;
}

.navIconStyle:hover {
  text-decoration: none;
}
/*# sourceMappingURL=SideNavBar.css.map */