.nameContainer {
  width: 65px;
  height: 65px;
  border-radius: 65px;
  background: #333;
}

.initials {
  width: 100%;
  text-align: center;
}

.userInitials {
  font-size: 35px !important;
  line-height: 24px;
  color: #fff !important;
}
