.header {
  height: 600px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url("https://cdn-cms.f-static.net/ready_uploads/media/3482298/2000_5ebe0cfa01158.jpg");
  // background-image: url("https://snazzy-maps-cdn.azureedge.net/assets/127403-no-label-bright-colors.png?v=00010101120000");
  // background-image: url("https://i.pinimg.com/564x/36/92/d7/3692d76e367480083fee749a43701ee0.jpg");
  background-size: 95%;
  // background-repeat: no-repeat;
}
.wrapHeaderText {
  background-color: rgba(0, 0, 0, 0.4) !important;
  border: box-sizing;
  font-size: 18px;
  color: #fff;
  text-align: center;
  // display: inline-block;
  // width: 600px;
  // margin: auto 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 45px 0;
}

@media screen and (max-width: 700px) {
  .wrapHeaderText {
    background-color: rgba(0, 0, 0, 0.4) !important;
    border: box-sizing;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    padding: 0 !important;
    margin: 0 !important;
  }
  /* MuiTypography-h2 {
      font-size: 30px;
      width: fit-content;
    }
    MuiStepper-root {
      display: flex;
      padding: 20px;
      flex-wrap: wrap;
      margin: 20px auto;
    }
    MuiStepConnector-alternativeLabel {
      top: 12px;
      left: calc(-50% + 20px);
      right: calc(50% + 20px);
      position: absolute;
      margin: 0px 5px;
    } */

  .MuiStepLabel-root.MuiStepLabel-alternativeLabel {
    flex-direction: column;
    margin: 15px 0px;
  }
}

$textColor: #ffffff !important;

h2 {
  display: flex;
  justify-content: center;
  color: $textColor;
  margin-top: 75px;
  font-weight: 500;
  text-decoration: underline;
}

// p {
//   color: #fff;
//   margin-bottom: 75px;
// }

.footer {
  margin: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.customColor {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  margin-left: 10;
  color: #fff !important;
  height: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* linear-gradient(to bottom, #33ccff, #ff99cc)
    gradient: --magic-rainbow-color-1: hsl(0deg, 96%, 55%)
    rgba(0, 0, 0, 0.8) */
}

.explorebtn {
  margin: 20px auto;
}
