.header {
  height: 600px;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-image: url("https://envato-shoebox-0.imgix.net/08ba/4cdc-6f1f-4172-8be5-0b8beb42ee8e/DJI_0002+%2813%29+.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=a9afb366c87d723810775d84843dcce2");
  background-size: 100%;
}

.wrapHeaderText {
  background-color: rgba(0, 0, 0, 0.4) !important;
  border: box-sizing;
  font-size: 18px;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 600px;
  margin: auto 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 45px 0;
}

@media screen and (max-width: 700px) {
  .wrapHeaderText {
    background-color: rgba(0, 0, 0, 0.4) !important;
    border: box-sizing;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: auto;
    padding: 0 !important;
    margin: 0 !important;
  }
  /* MuiTypography-h2 {
      font-size: 30px;
      width: fit-content;
    }
    MuiStepper-root {
      display: flex;
      padding: 20px;
      flex-wrap: wrap;
      margin: 20px auto;
    }
    MuiStepConnector-alternativeLabel {
      top: 12px;
      left: calc(-50% + 20px);
      right: calc(50% + 20px);
      position: absolute;
      margin: 0px 5px;
    } */
  .MuiStepLabel-root.MuiStepLabel-alternativeLabel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 15px 0px;
  }
}

h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff !important;
  margin-top: 75px;
}

.footer {
  margin: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.customColor {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.7;
  margin-left: 10;
  color: #fff !important;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* linear-gradient(to bottom, #33ccff, #ff99cc)
    gradient: --magic-rainbow-color-1: hsl(0deg, 96%, 55%)
    rgba(0, 0, 0, 0.8) */
}

.explorebtn {
  margin: 20px auto;
}
/*# sourceMappingURL=AboutPage.css.map */