// $backgroundImage {
//   url("https://snazzy-maps-cdn.azureedge.net/assets/122-flat-map-with-labels.png?v=00010101120000")
// }

.bannerDiv {
  /* position: absolute; */
  // text-align: center;
  bottom: 0;
  width: 100%;
  background-image: url("./../../assets/mockup.png");
  // background-image: url("https://elements-cover-images-0.imgix.net/f7772e8b-0897-4e95-adb6-0c3985e876f0?auto=compress%2Cformat&fit=max&w=2038&s=98febdc34c96f4d86e5124e74c93d774");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-y: 40px;
  // background-position-x: 220px;
  background-position-x: 230px;
  opacity: 1;
  transform: scaleX(-1);
  // background-color: #e3e3e3;
  height: 690px;
}
//https://elements-cover-images-0.imgix.net/f7772e8b-0897-4e95-adb6-0c3985e876f0?auto=compress%2Cformat&fit=max&w=2038&s=98febdc34c96f4d86e5124e74c93d774");

.styleP {
  color: #000 !important;
  margin: 0 !important;
}

.banner {
  background-color: rgba(0, 0, 0, 0.25);

  // background-color: transparent;
  position: relative;
  // z-index: -1;
  color: #fff !important;
  height: 690px;
  width: 100%;
  // margin: auto 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  // transform: scaleX(-1);
  text-align: center;
}

.download {
  position: relative;
  left: 200px;
}

// .ButtonGroup {
//   display: flex;
//   flex-direction: column;
//   justify-content: end;
//   align-items: center;
//   position: inline-block;
// }
