.bannerDiv {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  background-image: url("./../../assets/mockup.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-y: 40px;
  background-position-x: 230px;
  opacity: 1;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  height: 690px;
}

.styleP {
  color: #000 !important;
  margin: 0 !important;
}

.banner {
  background-color: rgba(0, 0, 0, 0.25);
  position: relative;
  color: #fff !important;
  height: 690px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.download {
  position: relative;
  left: 200px;
}
/*# sourceMappingURL=DownloadAppBanner.css.map */