/* html[theme="dark-mode"] */
/* body {
  filter: invert(1) hue-rotate(180deg);
} */

$fontColor: #fff;

.textcolor {
  color: $fontColor;
}
// h4 {
//   color: $fontColor;
// }

// .overflow {
//   overflow: hidden;
//   display: flex;
//   /* justify-content: center; */
//   /* align-content: center; */
//   width: fit-content;
// }

.w-100 {
  overflow: hidden;
  width: fit-content;
  border-radius: 10px !important;
  transform: scale(1);
  transition: transform 0.6s ease;
  margin: 0 auto;
}

.w-100:hover {
  transform: scale(1.2);
}

.offerContainer {
  // display: block;
  // background-image: 100%;
  // min-width: 600px;
  // min-height: 400px;
  // max-width: 250px;
}
.carousel {
  margin-bottom: 15px;
  z-index: 0 !important;
}

// .offerDiv {
//   position: relative;
//   left: 1035px;
//   bottom: 580px;
//   width: 70vh;
// }
// .offerDiv {
//   display: block;
//   position: relative;
//   left: 700px;
//   bottom: 755px;
//   width: 90vh;
// }
.slider {
  position: relative;
  width: 100%;
  height: 560px !important;
  overflow: hidden;
}

.contents {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 50px;
  font-size: 18px;
  min-height: 430px;
  // width: 550px;
  max-width: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
}

.cardOverlay {
  background: rgba(0, 0, 0, 0.6);
  width: 50%;
  color: #ffffff !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  border-radius: 5px;
  min-height: 300px;
}

.joinNow {
  background: #ec5990 !important;
  opacity: 0.9;
  color: white;
  width: 40%;
  margin: 0 auto;
}

.joinNow button[type="submit"],
.joinNow input[type="submit"] {
  background: #ec5990;
  opacity: 0.9;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 0px;
  padding: 15px auto;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

// button[type="submit"]:hover,
// input[type="submit"]:hover {
//   background: #bf1650;
// }

.joinNow button[type="submit"]:active,
.joinNow input[type="button"]:active,
.joinNow input[type="submit"]:active {
  transition: 0.3s all;
  transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}