/* html[theme="dark-mode"] */
/* body {
  filter: invert(1) hue-rotate(180deg);
} */
.textcolor {
  color: #fff;
}

.w-100 {
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px !important;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  margin: 0 auto;
}

.w-100:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.slider {
  position: relative;
  width: 100%;
  height: 560px !important;
  overflow: hidden;
}

.contents {
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 50px;
  font-size: 18px;
  min-height: 430px;
  max-width: 530px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: auto;
  margin-top: 80px;
  border-radius: 15px;
}

.cardOverlay {
  background: rgba(0, 0, 0, 0.6);
  width: 50%;
  color: #ffffff !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  border-radius: 5px;
  min-height: 300px;
}

.joinNow {
  background: #ec5990 !important;
  opacity: 0.9;
  color: white;
  width: 40%;
  margin: 0 auto;
}

.joinNow button[type="submit"],
.joinNow input[type="submit"] {
  background: #ec5990;
  opacity: 0.9;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 0px;
  padding: 15px auto;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
}

.joinNow button[type="submit"]:active,
.joinNow input[type="button"]:active,
.joinNow input[type="submit"]:active {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
  border: 1px solid transparent;
  opacity: 0.8;
}

/* .offerDiv { */
/* position: sticky; */
/* bottom: 480px; */
/* left: 48%; */
/* width: 50%; */
/* width: auto; */
/* } */
/* lg size */
.Card.Title {
  margin: 0 !important;
}

/* Agent class */
/* Center slide text vertically */
/*# sourceMappingURL=LastCallOffersCarousel.css.map */