.MDBCard-main-card {
  // width: 320px;
  height: 445px;
  margin: 8px auto;
}

.MDBcardImg {
  height: auto;
  min-height: 275px;
  width: auto;
  max-width: 250px;
}

.eventName {
  display: flex;
  justify-content: center;
  align-content: start;
  // align-items: center;
  // min-height: 80px;
  // width: 100%;
  // margin: 50px;
  // margin-bottom: 20px;
  // background-color: rgba(0, 0, 0, 0.4);
}

.discover {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  font-size: 15px !important;
  z-index: 99;
  border-radius: 10px;
  cursor: pointer;
  // margin-bottom: 10px !important;
  min-height: 70px;
  width: 145px;
  transition: 0.001s;
}

.discover:hover {
  border: solid 1px #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.checkout {
  background: #ec5990;
  opacity: 0.9;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 0px;
  // padding: 15px auto;
  font-size: 15px;
  font-weight: 500;
  // letter-spacing: 1px;
}

.offerMediaCard {
  height: 100px;

  // padding-top: "56.25%";
}
.InspirationContainer {
  // background-color: rgba(0, 0, 0, 0.2);
  height: 1100px;
}
// .MuiGrid-container {
//   width: 100%;
//   display: none !important;
//   flex-wrap: none !important;
//   box-sizing: border-box;
// }

.textColor {
  color: #fff;
}
.mediaCardContainer {
  opacity: 0.95;
  box-sizing: border-box;
  filter: brightness(0.7) !important;
}

.userIcon {
  background-image: url("./../../assets/emma2.jpg");
}
// .decothisSpan {
//   left: calc(50% - 9px);
//   width: 8px;
//   top: 155px;
//   left: 292px;
//   height: 3px !important;
//   position: absolute;
//   transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
//   background-color: #fff;
// }
// .MuiTouchRipple-root {
//   color: green;
// }

.MuiTypography-body1 {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: #000 !important;
}

MuiTypography-root {
  color: #000 !important;
  margin: 0 !important;
}

// .makeStyles-root-5 {
//   width: 100%;
//   margin: 0 !important;
//   display: flex !important;
//   padding: 0 !important;
//   align-content: center !important;
//   background-color: rgba(0, 0, 0, 0.5);
// }

.css-yk16xz-control {
  align-items: center;
  background-color: transparent !important;
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  transition: all 100ms;
  box-sizing: border-box;
}
