.MDBCard-main-card {
  height: 445px;
  margin: 8px auto;
}

.MDBcardImg {
  height: auto;
  min-height: 275px;
  width: auto;
  max-width: 250px;
}

.eventName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: start;
}

.discover {
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff !important;
  font-size: 15px !important;
  z-index: 99;
  border-radius: 10px;
  cursor: pointer;
  min-height: 70px;
  width: 145px;
  -webkit-transition: 0.001s;
  transition: 0.001s;
}

.discover:hover {
  border: solid 1px #fff;
  background-color: rgba(0, 0, 0, 0.7);
}

.checkout {
  background: #ec5990;
  opacity: 0.9;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 0px;
  font-size: 15px;
  font-weight: 500;
}

.offerMediaCard {
  height: 100px;
}

.InspirationContainer {
  height: 1020px;
}

.textColor {
  color: #fff;
}

.mediaCardContainer {
  opacity: 0.95;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: brightness(0.7) !important;
          filter: brightness(0.7) !important;
}

.userIcon {
  background-image: url("./../../assets/emma2.jpg");
}

.MuiTypography-body1 {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: #000 !important;
}

MuiTypography-root {
  color: #000 !important;
  margin: 0 !important;
}

.css-yk16xz-control {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent !important;
  border-color: #cccccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 38px;
  outline: 0 !important;
  position: relative;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=OffersOnWaitingList.css.map */