/* SearchBar agent class */
.searchBarContainer {
  background: center;
  -webkit-backdrop-filter: 0.4px;
          backdrop-filter: 0.4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  height: 560px;
  background-color: rgba(0, 0, 0, 0.75);
  background-attachment: fixed;
  background-image: url("./../../assets/searchBarBg.jpeg");
  background-position-y: 5px;
  /* https://i.pinimg.com/236x/4e/58/fa/4e58fa3ecb309e146e7df7f107a0d435.jpg */
  background-size: 75%;
  /* https://i.pinimg.com/564x/1f/a8/e8/1fa8e84f5b857057849e2060b9495a6a.jpg */
}

.customMuiButtonRoot {
  color: crimson !important;
  font-weight: 500 !important;
}

.MuiTypography-h2 {
  font-size: 3.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
  margin: 30px;
}

/*  | Popular Search Item | */
.MuiInputBase-input {
  font: inherit;
  color: #fff !important;
}

.MuiButtonRoodist {
  border-radius: 15px;
  margin: 5px 3px;
  color: #fff !important;
}

/* Heading text */
.MuiTypography-root {
  margin: 0;
  /* color: #fff !important; */
}

.buttonGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 900px;
  margin: 25px auto;
}

.eachButton {
  font-weight: 400 !important;
  border-radius: 15px !important;
  margin: 5px 3px !important;
  color: #fff !important;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.MuiButton-label:hover {
  color: white;
}

.eachButton:hover {
  background-color: crimson !important;
  opacity: 0.8;
  color: #fff !important;
  border-color: #fff;
}

.css-1hb7zxy-IndicatorsContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.css-yk16xz-control {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent !important;
  border-color: none;
  border-radius: 8px;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 38px;
}
/*# sourceMappingURL=SearchTagBar.css.map */