/* SearchBar agent class */
// .makeStyles-root-5 {
//   color: #fff !important;
//   width: 100%;
//   margin: 10px 250px;
//   display: flex;
//   padding: 3px 4px;
//   align-items: center;
//   background-color: rgba(0, 0, 0, 0.7) !important;
// }
$color: #fff;

.searchBarContainer {
  background: center;
  backdrop-filter: 0.4px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  color: #000;
  height: 485px;
  // background-image: url("./../../assets/Screenshot\ .png");
  background-color: rgba(0, 0, 0, 0.75);
  background-attachment: fixed;
  // background-image: url("./../../assets/bg_copy.jpg");
  background-image: url("./../../assets/searchBarBg.jpeg");
  background-position-y: 15px;
  //  url("https://i.pinimg.com/564x/36/92/d7/3692d76e367480083fee749a43701ee0.jpg");
  /* https://i.pinimg.com/236x/4e/58/fa/4e58fa3ecb309e146e7df7f107a0d435.jpg */
  // background-repeat: no-repeat;
  background-size: 85%;

  /* https://i.pinimg.com/564x/1f/a8/e8/1fa8e84f5b857057849e2060b9495a6a.jpg */
}

.customMuiButtonRoot {
  color: crimson !important;
  font-weight: 500 !important;
  // text-shadow: crimson 3px 5px
}

.MuiTypography-h2 {
  font-size: 3.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
  margin: 30px;
}
h3{
  color: #fff!important
}

/*  | Popular Search Item | */
.MuiInputBase-input {
  font: inherit;
  color: #fff !important;
}

.MuiButtonRoodist {
  border-radius: 15px;
  margin: 5px 3px;
  color: #fff !important;
}

/* Heading text */
.MuiTypography-root {
  margin: 0;
  /* color: #fff !important; */
}

.buttonGroup {
  display: flex;
  font-weight: 900 !important;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 900px;
  margin: 25px auto;
}

.eachButton {
  font-weight: 400 !important;
  border-radius: 15px !important;
  margin: 5px 3px !important;
  color: $color !important;
  transition: 0.1s;
}

.MuiButton-label:hover {
  color: white;
}

.eachButton:hover {
  background-color: crimson !important;
  opacity: 0.8;
  color: $color !important;
  border-color: #fff;
}

.css-1hb7zxy-IndicatorsContainer {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  // background: transparent !important;
  border-radius: 5px;
}

.css-yk16xz-control {
  align-items: center;
  background-color: transparent !important;
  border-color: none;
  // border: 0px solid #fff;
  border-radius: 8px;
  cursor: default;
  display: flex;
  justify-content: space-between;
  min-height: 38px;
}
