.MDB-UserCard {
  width: 450px;
  height: 480px;
  // margin: 8px auto;
}

// .MDBcard-UserImg {
//   height: auto;
//   min-height: 275px;
//   width: auto;
//   max-width: 250px;
// }
.profile_img_resize {
  // margin: 40px auto;
  height: auto;
  min-height: 230px;
  max-width: 240px;
  // max-width: 250px;
  // width: auto;
  // border-radius: 100%;

  // min-height: 275px;
  // width: auto;

  // max-width: 250px;
}

.Cardcontents {
  word-wrap: break-word;
}
.CardContent {
  font: #000;
}

.styleIcon {
  display: flex;
  justify-content: center;
  align-content: center;
}

.makeStyles-root-14 {
  min-width: 100px !important;
  // margin-left: 70px !important;
}
.makeStyles-media-10 {
  height: 0;
  padding-top: 56.25%;
  filter: brightness(0.7);
  /* overflow: hidden; */
  /* transform: scale(1); */
  /* transition: transform 0s ease; */
}

// .profile_img_resize {
//   height: auto;
//   max-height: 300px;
//   width: auto;
//   // max-width: 250px;
//   border-radius: 0px;
//   padding: 50px;
// }

.starUserContainer {
  // height: 560px;
  // background-color: red;
}
/* big icon */
/* .makeStyles-media-46 {
  height: 230px;
  padding: 120px 100px;
  margin: 30px 55px !important;
  border-radius: 100%;
} */

/* small version */
/* .makeStyles-media-11 {
  height: 0px;
  border-radius: 100%;
  margin: 35px 115px !important;
   padding: 63px 0px !important;
} */

.makeStyles-media-21:hover {
  transform: scale(1.2);
  /* color: #b59898ba */
}
.Card.ImgOverlay {
  display: flex;
}
/* 
.makeStyles-media-26 {
  height: 155px;
  margin: 5px 90px !important;
  border-radius: 100%;
} */

.ant-rate {
  color: crimson !important;
}

.anticon {
  display: inline-block;
}
