body {
  // background-image: url("https://elements-cover-images-0.imgix.net/f7772e8b-0897-4e95-adb6-0c3985e876f0?auto=compress%2Cformat&fit=max&w=2038&s=98febdc34c96f4d86e5124e74c93d774");
  // background-color: black !important;
  // color: white !important;
  // background-image: url("./../../assets/bg_copy.jpg");
  // background-image: url("https://elements-template-kits-preview-images-0.imgix.net/files/288630587/screens/01_Vagabonds.jpg?auto=compress%2Cformat&fit=max&w=1370&s=2e5cdd38ceca17edf1fe2f926a68caed");
}

.title {
  color: white;

}
body {
  font-family: Arial, Helvetica, sans-serif;
  // height: 100vh;
  // width: 100%;
  line-height: 1.4;
  // background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
  // url(background.jpg) no-repeat center/cover;

  // background-
}

.Login-img{
  // postion: absolute;
}
.btn:hover {
  background: #ffcd4f;
}

@keyframes arrow {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(4px);
  }
  40% {
    transform: translateY(8px);
  }
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

.Login_container {
  background-image: url("https://cdn-cms.f-static.net/ready_uploads/media/7170/2000_5cda66c7dddd6.jpg");
  // max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  // background-color: red;
}

.subtitle {
  color: #fff;
  letter-spacing: 1px;
  // margin: 1rem 0;
  font-style: italic;
  display: flex;
  justify-content: flex-start;
  padding-left:48px;
}

// .btn {
//   border: none;
//   outline: none;
//   width: 20%;
//   height: 40px;
//   background: goldenrod;
//   font-size: 1.1rem;
//   font-weight: 700;
//   color: #fff;
//   // transition: background 0.4s;
//   border-radius: 0 10px 10px 0;
// }

h1.title {
  color: white;
  letter-spacing: 1px;
  padding: 0.25rem 0.5rem;
  margin: 0;
}

h1.title span {
  color: rgba(255, 255, 255, 0.8);
  letter-spacing: 1px;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.25rem 0.5rem;
}

i {
  font-size: 2.5rem;
  color: #fff;
  margin: 10px 0;
  animation: arrow 1s infinite;
}

// input[type="text"],
// input[type="password"] {
//   height: 40px;
//   width: 80%;

  // margin-left: 50px;
// }6
.textinput{
  margin-left: 45px;
  height: 40px;
  width: 85% !important;
}
// input[type="text"] {
//   width: 70%;
//   height: 40px;
//   padding: 1rem;
//   outline: none;
//   border: none;
//   font-size: 1.1rem;
//   letter-spacing: 1px;
//   border-radius: 10px 0 0 10px;
// }

.LoginForm {
  margin: 150px auto;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 50%;
}

.LoginForm_submit {
  margin-top: 12px important;
}
/* fits Iphone size */
@media screen and (max-width: 700px) {
  .LoginForm {
    margin-left: 95px;
    width: 250px;
  }
}
