.RegisterForm {
  /* margin: 45px 250px; */
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  width: 65%;
  margin: 70px auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RegisterForm_submit {
  margin: 25px !important;
}

.Label_subtitle{
  // text-align: left;
  font-style: italic;
  display: flex;
  justify-content: start;
  padding-left: 45px;

}
/* fits Iphone size */
@media screen and (max-width: 700px) {
  .RegisterForm {
    /* margin-left: 95px;
    width: 250px; */

    /* for iPhone size */
    margin-left: 65px;
    max-width: 230px;
  }
}

h1.title {
  letter-spacing: 2px;
  // background: rgba(0, 0, 0, 0.6);
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
}
// .brandLogo {
//   background-image: url("./../../assets/dummyicon.png");
//   background-size: 5%;
// }
.someMargin {
  display: flex;
  justify-content: center;
  align-items: center;
  // color: #fff;
}

select {
  font-size: 0.75rem;
  width: 25%;
  height: 35px;
}

Label {
  color: white;
  margin: 2px;
}

Label[type="text"] {
  font-size: 0.75rem;
  width: 70%;
}

// .container {
//   max-width: 1100px;
//   margin: auto;
//   padding: 0 2rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
// }

.Register_container {
  background-image: url("https://cdn-cms.f-static.net/ready_uploads/media/7170/2000_5cda66c7dddd6.jpg");
  // max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  // background-color: red;
}
