a.deco-none {
    color:#000000 !important;
    text-decoration:none !important;
  
}

a,a:hover {
    color: inherit !important;
    text-decoration: none !important;
    background-color: transparent !important;
}

