.map-h2 {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 20px;
    padding-left: 10px;
    text-align: center;
  }
  
  .google-map {
    /* min-height: 200px;
    min-width: 450px; */
    /* position: relative; */
    width:450px;
    height:200px;
    /* width:100%; */

    /* height: 60vh; */
  }
  
  .pin {
    display: flex;
    align-items: center;
    width: 250px;
    color: var(--main-blue);
  }
  
  .pin-icon {
    font-size: 4rem;
  }
  
  .pin-text {
    font-size: 1.3em;
  }
  
  @media screen and (min-width: 799px) {
    .google-map {
      height: 200px;
      width:450px;
      /* width:100%; */

    /* height: 40vh; */
    /* z-index: 10000; */
    }
  
    .map-h2 {
      font-size: 1.3rem;
      font-weight: 400;
    }
  
    .pin {
      /* width: 15vw; */
      width:300px;
    }
  
    .pin-icon {
      font-size: 40px;
    }
  }