.grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 30px;
        
}

.card {
        flex: 1 1 auto;
        min-height: 400px !important;
        min-width:370px !important;
        max-height: 400px !important;
        padding: 1.25rem !important;
        background-color: #e9e5e0 !important;
        box-shadow:20px 20px 60px #c9c2b9 , 
                -20px -20px 60px #fffffb !important;
        border:0 !important;
        border-radius: 10px !important;
}

.card:hover {
    transform: scale(1.02);
    transition-duration: 100ms;
}


.ListContainer {
    max-width:87%;
    margin:auto;
    /* background-color: #fdf8f2; */
    background-color: #f3eee7;
}

.trip_name{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 6px;
    color:#3d3b44;
}

.trip_description{
    font-weight:300;
    font-size:16px;
    color:#974b03;
    /* min-height: 30px; */
}

.price{
    color:#3d3b44;
    margin-top: 15px;
}

h1{
    padding-top:20px;
    margin-bottom: 60px;
    font-weight: 200;
}

.h1{
    padding-top:20px !important;
    margin-bottom: 60px !important;
    font-weight: 200 !important;
}

p{
    font-weight: 200;
    margin:0px;
}


/* ****************Tourist******************* */
.tourist_container{
    margin-top: 10px;
    display:flex;
}

.tourist_pic{
    background-color: rgba(236, 83, 103, 0.822);
    max-height: 90px;
    min-height: 90px;
    min-width: 90px;
    max-width:90px;
    border-radius: 5px;
    display:flex;
    /* align-items: center; */
    justify-content: center;
}

.tourist_words{
    max-height: 90px;
    min-height: 90px;
    display:flex;
    /* align-items: center; */
    margin-top: 6px;
    margin-left:15px;
    font-style: italic;
    font-size:14px;
    font-weight: 300;
    color:rgb(75, 75, 160)
}

.eachButton{
    color:rgba(73, 45, 45, 0.568) !important;
    font-weight: 100 !important;
    font-style: initial;
    
}

.btn_grp{
    margin-bottom: 42px;
    text-align: left;
    background-color: rgba(243, 190, 75, 0.11);
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(110, 103, 80, 0.2), 0 6px 20px 0 rgba(133, 123, 91, 0.19);

}

.flex_bar{
    display:flex;
    justify-content: center;
    background-color: rgba(206, 174, 174, 0.308);
    margin-bottom: 10px;
    padding:10px;
}
.input{
    margin-top: 5px;
    min-width: 300px;
}
.iconButton{

}

.resize_profile_pic{
    /* display: "block";
    margin: "0 auto 10px";
    height: "90px";
    width:"90px";
    border:"1px";
    object-fit: cover; */
}

.home_link{
    margin-top:50px;
    padding-bottom: 40px;
}
/* ****************Tourist******************* */