/* ***************************Grid**************************** */
.grid_wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 10px;
    margin-left: 68px;
}

@media (max-width: 700px) {
    .flex_wrap{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
   }



.core{
    grid-column: 1/10;
    /* grid-row: 1/5; */
    min-height: 2000px;
    border-radius: 10px;
background: #edf5f7;
box-shadow:  29px 29px 58px #d8dfe1, 
             -29px -29px 58px #ffffff;
    /* max-width:70%; */
}

.side{
    grid-column:10/13;
    /* max-width:25%; */
}
    /* grid-row: auto; */
.g_map{
    grid-column:1/4;

}

.date_picker{
    grid-column:10/13;
    border-radius: 10px;
    background: #d6e3eb;
    box-shadow: inset 9px 9px 18px #c3cfd6, 
                inset -9px -9px 18px #e9f7ff;

}

.sharer{
    grid-column:10/13;
    border-radius: 5px;
background: #faf5e6;
box-shadow:  32px 32px 37px #d7d3c6
}

.payment{
    grid-column:10/13;
    border-radius: 10px;
background: #fde796;
box-shadow: inset -32px -32px 37px #dac781, 
            inset 32px 32px 37px #ffffab;


}
/* ***************************Grid**************************** */

/* ***************************Head_border**************************** */

.head_border {
    display: flex;
    align-items: center;
}

.head_border:before{
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
    background: linear-gradient(-90deg, #666, transparent); 
}
.head_border:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #666;
    background: linear-gradient(90deg, #666, transparent);
}

.head_border:before {
    margin-right: 1rem;
}

.head_border:after {
    margin-left: 1rem;
}

/* ***************************Head_border**************************** */


/* ***************************Standard**************************** */


.content_container{
    min-height: 400px;
    min-width:490px;
    background: #d6edfa;
    box-shadow: -20px -20px 60px #f6ffff;
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    border:1px;
    display:flex;
    flex-wrap:wrap;
    margin-bottom: 12px;
}
/* text box */
.text_box{
    padding:15px;
    text-align: left;
    max-width: 450px;
}

.site_title{
    margin-top: 10px;
    font-size: 19px;
    margin-bottom: 29px;
    
}

.site_name{
    background-color: rgba(145, 178, 240, 0.61);
    border-radius: 2px;
    padding:3px;
    font-weight: 300;
    
}

.google_map{
    background-color:transparent;
    min-height: 200px;
    width: 450px;
    max-width:450px;
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 2px;

}

.description{
    flex:1;
    overflow:hidden;
    word-wrap:break-word;
    word-break:break-all;
    /* border-right:1px solid #323232; */
    /* font-size:12px; */
    /* max-width: 450px; */

}
/* text box */

.hash_tag_box{
    display:flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-bottom: 30px;
}

.tag_style{
    padding:5px;
    border-color: rgba(138, 138, 143, 0.521);
    border-style: solid;
    border-width: 1px;
    border-radius: 12px;
    margin-right: 3px;
}

.padding{
    padding: 20px;
}

.about_me{
    text-align: left;
    padding-bottom: 27px;
    margin-top: 30px;
    font-weight: 200;
    font-size:16px;
}

.min_height{
    padding-top: 10px;
    min-height: 370px;
}

.rating{
    text-align: left;
    margin-top: 59px;
    margin-left: 49px;
}

.h1{
    font-weight: 200 !important;
}

.h3{
    color:#c56409 !important;
}

.picker__wrapper {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    border: thin dotted gray !important;

    font-weight: 200!important;
    border-radius: 6px;
    
}

.pt{
    font-weight: 500!important;
  }

img{
    border-radius: 2px;
}

.review_box{
    display:flex;
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 9px;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    color:rgb(75, 75, 75);

}

.rating_pic{
    
    border-radius: 70px;
    width:70px;
    height: 70px;
    object-fit: cover;

    
    
}

.review_details_box{
    text-align: left;
    padding:6px;
    margin-top: 5px;
    margin-left: 30px;
}

.comments{
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rating_pt{
    display:flex;
    justify-content: space-between;
}

.rating_ptt{
    font-weight: 500;
    color: rgb(199, 87, 87);
}

.detail_text{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 200;
}

.detail_words{
    margin-bottom: 10px;
}

.end_speech{
    display: flex;
    justify-content: flex-end;
}

.content_container2{
    min-height: 200px;
    min-width:490px;
    background: #d6edfa;
    box-shadow: -20px -20px 60px #f6ffff;
    border-radius: 9px;
    margin-left: 10px;
    margin-right: 10px;
    border:1px;
    text-align: left;
    /* display:flex; */
    /* flex-wrap:wrap; */
    /* justify-content: flex-start; */
    align-items: center;

    margin-bottom: 12px;
}

.center{
    text-align: center;
}

.price{
    text-align: right;
    font-size: 20px;
    margin-right: 20px;
    margin-top:30px;
    background-color: rgba(250, 243, 233);
    margin-left: auto;
    padding:5px;
    border-radius: 2px;
}

.price_row{
    text-align: right;
}

.ptt{
    margin-top: 30px;
    margin-right: 20px;

}

.pic_box{
    width:408px;
    height:400px;
    object-fit: cover;
    object-position: 80% 0;
}
/* ***************************Standard**************************** */