.Added__siteName__List {
  width: 400px;
  padding: 0 !important;
}

.Add__SiteLocation__Container {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-items: center;
  width: "100%";
  z-index: 10;
}

.noMargin {
  background-color: rgba(0, 0, 0, 0.75);
  height: auto;
  color: "#fff";
  border-radius: 5px;
  font-weight: normal;
  padding: 0;
}

.customDiv {
  color: #ffffff;
  width: auto;
  height: 55px;
}

/*# sourceMappingURL=AddedSiteList.css.map */
