h6 {
  color: white;
}

.AddSiteName__Container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  background-color: rgba(43, 42, 42, 0.75) !important;
}

.Added__siteName__List {
  padding: 0 !important;
}

.iconbutton {
  padding: 10px;
}

/* MuiInputBase-input */
.AddSiteName__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  margin-left: 35px;
}

.Add_SiteName_And_Photo_Container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.MuiList-root {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  margin: auto;
  display: inline-block;
}
/*# sourceMappingURL=AddSiteName.css.map */