/* html[theme="dark-mode"] */
/* body { */
/* filter: invert(10) hue-rotate(10deg); */
/* background-color: cornsilk; */
/* } */
h3 {
  color: #fff !important;
}

.overflow {
  overflow: hidden;
  display: flex;
  width: fit-content;
}

.w-100 {
  /* width: 435px !important; */
  width: fit-content;
  overflow: hidden;
  border-radius: 5px !important;
  transform: scale(1);
  transition: transform 0.6s ease;
  margin: 0 auto;
}

.w-100:hover {
  transform: scale(1.2);
}

.carousel {
  margin-bottom: 5px;
  z-index: 0 !important;
}

// .offerDiv {
//   position: sticky;
//   width: auto;
// }
.offerDiv {
  position: relative;
  width: 80vh;
  bottom: 90px;
}

@media screen and (max-width: 700px) {
  .offerDiv,
  .offerDiv > div {
    /* font-size: 5px !important; */
    margin: 0 !important;
    width: fit-content;
    position: relative;
    top: 20px;
    left: 0;
  }
}

.offerDiv > div {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  text-align: center;
  /* padding: 25px 5px; */
  /* margin: 20px 30px; */
  border-radius: 5px;
  min-height: 450px;
}

.cardOverlay {
  /* position: absolute; */
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  /* margin: 20px 30px; */
  border-radius: 5px;
  min-height: 300px;
}

.offerDiv > div h4 {
  text-align: center;
  color: #fff !important;
  border-top: solid 3px #ffffff;
  padding: 20px 15px;
  border-bottom: solid 1px #999999;
}

.joinNow {
  margin-top: 15px important;
}

@media screen and (max-width: 700px) {
  /* moblie size*/
  .carousel-inner {
    width: fit-content;
    min-height: 930px;
  }
  .carousel-indicators li {
    margin: 0;
  }
  .carousel-control-next,
  .carousel-control-prev {
    position: relative;
    left: 100px !important;
    position: sticky;
  }
}

/* lg size */
.carousel-inner {
  position: relative;
  width: fit-content;
  overflow: hidden;
  max-height: 900px;
}

.carousel-control-next-icon {
  color: #000 !important;
}

.carousel-control-prev-icon {
  color: #000 !important;
}

.carouselExampleIndicators {
  color: #000 !important;
}
/* .carousel-indicators { */
/* position: absolute; */
/* top: 755px; */
/* iPad responsive 230 */
/* left: 100px;
  display: flex;
} */

.carousel-indicators li {
  border: 0;
  background-color: snow !important;
  transition: color 0.3s linear 1s;
  opacity: 0.6;
}

.carousel-indicators li:hover {
  background-color: #000 !important;
  opacity: 1;
}

.carousel-control,
.carousel-control-prev,
.carousel-control-next {
  width: auto;
  cursor: pointer;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  width: 15%;
  color: #000;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  color: #fff;
  outline: 0;
  opacity: 0.75;
  background-color: #999999;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  width: 15%;
  color: #000;
  text-align: center;
}

.Card.Title {
  margin: 0 !important;
}

/* .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 5px;
} */
