.form-control {
  display: block;
  width: 100%;
  /* height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; */
}

/* .formStyle {
  display: flex;
  align-items: center;
  border: solid 1px #61e7c1;
  background: #61e7c1 !important;
  padding: 40px;
  min-width: 45%;
} */
.formStyle {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-content: center; */
  /* align-items: center; */
  border: solid 1px #61e7c1;
  /* background: #61e7c1 !important; */
  padding: 40px;
  min-width: 45%;
}
/* .divMargin  */
input {
  line-height: 1.5;
  border-radius: 10px;
  padding: 10px 10px;
  border: solid 1px #333;
  /* min-width: 600px; */
  margin: 5px !important;
}

/* Date and Time */
.marginDiv {
  margin: 15px auto;
}

/* Div for image inputs */
.inputDiv {
  margin: 5px auto;
  /* width: 100%; */
  max-width: 600px;
}

textarea {
  overflow: auto;
  resize: vertical;
  border-radius: 10px;
}
.MuiFormGroup-root {
  display: inline;
}

/* .wrap {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.img-holder {
  height: 168px;
  border-radius: 15px;
  border: solid 1px #333;
  /* width: 50%; */
  width: 100%;
  /* background-color: #eee; */

  margin: 15px auto;
}

.eventImg {
  /* width: 25% !important; */
  max-width: 300px;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  /* justify-items: center; */
  align-content: center;
  /* margin: 5px 10px; */
}

.makeStyles-root-32 {
  margin: 5px 10px;
}

.labeltext {
  display: inline;
  text-align: left;
}
