button {
  background-color: magenta;
  border: 5px solid #ff99ff;
  color: white;
  margin: 0 0.5em;
  padding: 1em;
  outline: none;
}

button:hover {
  background-color: #e600e6;
}

button:active {
  background-color: #cc00cc;
}

.Counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Counter {
  border: 5px solid #ffccff;
  font-weight: 700;
  margin: 2em auto;
  padding: 2em;
  width: 400px;
}

.count {
  font-size: 8em;
  text-align: center;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=RegisrationCounter.css.map */