.ListItem {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.75) !important;
  border-radius: 5px;
}

.ListItem__siteName {
  /* margin-right: 25px; */
  width: 25px;
  height: 25px;
  /* border-radius: 5px; */
}

.location__name,
MuiListItemText-primary {
  color: #fff !important;
}

/* .ListItem__deleted {
  text-decoration: line-through;
} */
