.background-img {
  background-image: url("https://envato-shoebox-0.imgix.net/6d01/429f-bfe7-434a-95b4-6016d8934bce/B81I4945.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=f45783e28bf584bba378012438bf1447");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.css-yt9ioa-option {
  background-color: transparent;
  color: black !important;
  cursor: default;
  display: block;
  font-size: inherit;
  padding: 8px 12px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.css-yt9ioa-option:hover {
  color: rgba(0, 0, 0, 0.65);
}
/*# sourceMappingURL=TGHomePage.css.map */