$color: black;
$background-color: rgba(0, 0, 0, 0.65);
// #image: url("https://envato-shoebox-0.imgix.net/6d01/429f-bfe7-434a-95b4-6016d8934bce/B81I4945.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=f45783e28bf584bba378012438bf1447"

.background-img {
  background-image: url("https://envato-shoebox-0.imgix.net/6d01/429f-bfe7-434a-95b4-6016d8934bce/B81I4945.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=f45783e28bf584bba378012438bf1447");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // filter: blur(8px);
  height: 100%;
}

.TGsearchBarContainer {
  // background-image: url("https://envato-shoebox-0.imgix.net/6d01/429f-bfe7-434a-95b4-6016d8934bce/B81I4945.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=f45783e28bf584bba378012438bf1447");
  // background-image: url("https://envato-shoebox-0.imgix.net/6d01/429f-bfe7-434a-95b4-6016d8934bce/B81I4945.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=f45783e28bf584bba378012438bf1447");
  // background-repeat: no-repeat center center;
  // filter: invert(0.3) hue-rotate(10 deg);
  // overflow: hidden;
  // image: blur margin-right -1px;
}

// .TGsearchBarContaine .blur {
//   margin-right: -100px;
// }
.css-yt9ioa-option {
  background-color: transparent;
  color: $color !important;
  cursor: default;
  display: block;
  font-size: inherit;
  padding: 8px 12px;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

.css-yt9ioa-option:hover {
  color: $background-color;
}
