.TGsearchBarContainer {
  background: center;
  backdrop-filter: 0.4px;
  filter: brightness(0.9);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  background-attachment: fixed;
  height: 580px;
  /* background-color: rgba(0, 0, 0, 0.4) !important; */
  background-image: url("https://miro.medium.com/max/1400/1*ZsCjyhjKTwWE-38rszyAUQ.jpeg");
  // background-image: url("https://i.pinimg.com/564x/36/92/d7/3692d76e367480083fee749a43701ee0.jpg");
  /* https://i.pinimg.com/236x/4e/58/fa/4e58fa3ecb309e146e7df7f107a0d435.jpg */
  background-size: 100%;
  // background-position-y: 48px;
  /* https://i.pinimg.com/564x/1f/a8/e8/1fa8e84f5b857057849e2060b9495a6a.jpg */
}

.MuiTypography-h2 {
  font-size: 3.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: -0.00833em;
  margin: 30px;
}

.customMuiButtonRoot {
  color: crimson !important;
  /* text-shadow: crimson 4px 2px 3px; */
}

.MuiButton-outlinedPrimary {
  background-color: crimson;
  opacity: 0.7 !important;
  // border: 1px solid rgba(63, 81, 181, 0.5);
}

/*  | Popular Search Item | */
.MuiInputBase-input {
  font: inherit;
  color: #fff !important;
}

.MuiButtonRoodist {
  border-radius: 15px;
  margin: 5px 3px;
  color: #fff !important;
}

/* Heading text */
.MuiTypography-root {
  margin: 0;
  /* color: #fff !important; */
}
h3{
  color: #fff!important
}
.buttonGroup {
  display: flex;
  font-weight: 900 !important;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 900px;
  margin: 25px auto;
}

.eachButton {
  border-radius: 15px !important;
  margin: 5px 3px !important;
  color: #fff !important;
  cursor: pointer;
  transition: 0.15s;
}

.eachButton:hover {
  color: currentColor !important;
}
.css-1hb7zxy-IndicatorsContainer {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.css-yt9ioa-option {
  background-color: transparent;
  color: inherit;
  cursor: default;
  display: block;
  font-size: inherit;
  padding: 8px 12px;
  width: 100%;
  user-select: none;
  box-sizing: border-box;
  color: #000;
}

// .MuiTypography-root 
MuiTypography-h3{
  color: #fff;
}