$textColor: #000;

.cost {
  color: $textColor !important;
}

.MuiInputBase-input {
  font: inherit;
  color: currentColor !important;
}

.makeStyles-formControl-9 {
  margin: 0 !important;
}

.hashtagsStyle{
 min-width: 175px !important;

}
.labelHashtags{
   color: #000 !important ;
  margin: 0 !important ;
}

.MuiGrid-container {
  width: auto;
 /* display: flex; */
  /* flex-wrap: wrap; */
  /* box-sizing: border-box; */
}