.App {
  text-align: center;
}

body {
  background: radia-gradient(#e5e5e5, #ffffff, #e5e5e5e5);
}

.ScrollUpButton__Container {
  /* .ScrollUpButton__Toggled { */
  background-color: rgba(50, 50, 50, 0.5);
  height: 50px;
  position: fixed;
  bottom: 20px;
  width: 50px;
  transition: opacity 0.5s ease-in-out 0s, right;
  cursor: pointer;
  opacity: 1;
  right: 20px;
  z-index: 1000;
  border-radius: 40px !important;
}

.screen_left{
  padding-left: 30px;
  margin-right:-63px;
  width:100%
}

body{
  background-color: #fff;
}