body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-image: url("https://www.transparenttextures.com/patterns/gplay.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/connected.png"); */
  /* background-image: url("https://www.transparenttextures.com/patterns/cartographer.png"); */
  background-position: 0 auto;
  font-weight: initial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  /* justify-content: space-between */
}

.avatar-uploader > .ant-upload {
  width: 600px !important;
  height: fit-content !important;
}

.ant-upload.ant-upload-select-picture-card {
  /* width: fit-content !important; */
  /* height: 100px; */
  /* margin-right: 8px; */
  /* margin-bottom: 8px; */
  text-align: center;
  /* vertical-align: top; */
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  /* border-radius: 2px; */
  /* cursor: pointer; */
  /* -webkit-transition: border-color 0.3s; */
  transition: border-color 0.3s;
}

/* .ant-upload.ant-upload-select-picture-card { */
/* width: 500px !important; */
/* height: 500px !important; */
/* } */
