.rc-tabs {
    border: none !important;
  }

  .rc-tabs-tab {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right:20px;
    text-transform: capitalize;
  }
  .rc-tabs-tab .rc-tabs-tab-btn {
    font-weight: normal;
  }

  .rc-tabs-tab-btn:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
  }

  

  .rc-tabs-tab.rc-tabs-tab-active {
    background: #f8f4ec;
    color: #00bef8;
  }
  .rc-tabs-ink-bar {
    background: #b7f0ed !important;
  }
  .rc-tabs-content-holder {
    padding: 10px;
    background: #f8f4ec;
    min-height: 400px!important;
  }
  /* .rc-tabs-content {
  } */

  .rc-tabs-nav-list{
    transition:none !important;
  }

  .rc-tabs-tabpane:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
  }
  .rc-tabs-tabpane-active:focus{
    outline: -webkit-focus-ring-color auto 0px !important;
  }