.container{
  max-width: 84%;
  margin:auto;
  margin-top: 2%;
}

.flex_box{
  display:flex;
}

.order_container{
  text-align: left;
  background-color: rgba(135, 228, 228, 0.39);
  border-radius: 6px;
  /* min-width: 700px; */
  margin: auto;
}

.order_container2{
  text-align: left;
  background-color: rgba(219, 180, 108, 0.801);
  border-radius: 6px;
  /* min-width:700px; */
  margin:auto;
}


.record_container{
  display:flex;
  background-color: rgba(252, 245, 245, 0.63);
  justify-content: space-between;
}

.picture{
  background-color: rgb(218, 161, 75);
  min-width: 100px;
  min-height: 100px;
  max-width: 250px;
  /* max-height: 150px; */
  
  box-shadow: 1px 1px 5px 3px rgb(236, 165, 59);
}

.profile_picture{
  /* background-color: rgba(145, 115, 216, 0.233); */
  min-width: 100px;
  min-height: 100px;
  max-width: 250px;
  /* max-height: 150px; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* box-shadow: 1px 1px 5px 3px rgba(160, 134, 219, 0.295); */
}

.offer_details{
  padding: 10px;
}

.offer_details_flex{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.button_part{
  margin-right: 30px;
  margin-top: 20px;
}

.button{
  border-radius: 12px;
  background: linear-gradient(145deg, #fff09d, #ddca84);
  padding:6px;
  margin-bottom: 4px;
  text-align: center;
}

.button_closed{
  border-radius: 4px;
  background: linear-gradient(145deg, #72716da4, #5a595593);
  padding:6px;
  margin-bottom: 4px;
  text-align:center;
  color:rgb(5, 5, 5);
  min-width: 106px;
  
}

.button_wait{
  border-radius: 12px;
  background: linear-gradient(145deg, #e2a26d, #d4bd6b);
  padding:6px;
  margin-bottom: 4px;
  text-align: center;
  min-width: 106px;
}


.pay_items{
  padding-right:30px;
  min-width: 100px;
}

.pay_title{
  /* text-align: center; */
}

.status{
  display:flex;
}

.margin{
  margin-bottom: 20px;
  background-color: transparent;
}

.completed{
  color:rgb(46, 194, 46)
}

.in_one_line{
  display:flex;
}

.link{
  color:rgb(51,102,187);
  margin-left: 5px;
}

.link:hover{
  text-decoration-line: underline;
}

.comment_box{
  min-width: 300px;
  min-height: 100px;
  border-radius: 4px;
  color:rgb(34, 34, 34) !important;
}

.rating_box{
  min-width: 30px;
  max-width: 30px;
}

.Label_box{
  flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(34, 34, 34) !important;
}

.user_box{
  background-color: rgb(255, 255, 255);
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left:100px;
  padding-right:100px;
  text-align: left;
  font-weight: 300;
  border-radius: 3px;
}

.colorB{
  color:black !important;
}

.enter_box{
  background-color: rgba(186, 201, 204, 0.274);
  padding-left:26px;
  padding-top:10px;
  padding-bottom: 10px;
  margin-bottom: 14px;
  margin-top: 4px;
}